bin/
build/
classes/
_build/
_buildc/
_gen/
_b/
_*/
.neoedb*/
_cache/
_output/
dump3db/
.neoedbbak/
dist/
nbdist/
private/
.svn/
.vs/
.settings/
obj/
Debug/
Release/
.idea/
.gradle/
nbproject/
*.dylib.dSYM/
*.dylib
*.class
*.log
*.exe
*.run
*.jar
*.obj
*.bin
*.o
*.e
*.lib
*.exp
*.pdb
*.deps.json
*.dll
build.xml
*.pch
*.so
*.out
*.elf
!**/src/neoe/build
imgui.ini
.DS_Store
.~lock.*
